/*import font League spartan para el texto RUNO del header*/
/*Import font Lora para categoria*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.container-fluid{
    padding: 0 !important; 
    max-width: 1400px !important;
}


/*Nav*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.25); 
    
}

.nav-link {
    color: #F8F9FA;
}
.runo{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.4px;
    color: #F8F9FA;
}



/*Blog slider*/

.blog-slider{
    background-image: url(/img/Image_blog_slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lora" , sans-serif;
}

/*se le ha dado un padding para y así el contenedor padre se ha espandido sin necesidad de darle un height*/
.blog-text{
    padding: 200px 0 100px 0;
}

.category{
    background-color: rgb(229, 229, 229, 0.20);
    width:10rem;
}
 .line4{
    height: 1px;
 }

 .text{
    font-size: 12px;
 }


 .ellipse{
    gap: 1rem;
 }

 /*Blog regular*/

.all{
    color: #D4A373;

}

.blog-regular{
    font-family: "Lora" , sans-serif;
}
.topics{
    font-weight: 700;
    font-size: 36px;
    line-height: 46.08px;
    color:#6C7575;
}

.filter{
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
}

.date{
    font-weight: 400;
    font-size: 12px;
    line-height: 15.36px;
    color:#6C7575;
}

.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #495057;
}

.paragraph{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
}


/*Big post*/

.big-post{
    background-image: url(/img/bigpost.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}