/*import font League spartan para el texto RUNO del header*/
/*Import font Lora para categoria*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.container-fluid{
    padding: 0 !important; 
    max-width: 1400px !important;
}


/*Nav*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.25); 
    
}

.nav-link {
    color: #F8F9FA;
}
.runo{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.4px;
    color: #F8F9FA;
}



/*Blog slider*/

.blog-slider{
    background-image: url(/img/Image_blog_slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Lora";
}

.blog-text{
    height: 100vh;
}

.category{
    background-color: rgb(229, 229, 229, 0.20);
    width: 15vh;
}
 .line4{
    height: 1px;
 }

 .text{
    font-size: 12px;
 }


 .ellipse{
    width: 2rem;
    gap: 1rem;
 }

 /*Blog regular*/

.all{
    color: #D4A373;

}

